
<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <a class="navbar-brand" href="https://wolterskluwer.com/">
  <img src="assets/images/edportal.JPG" class=main alt="Logo" style="width:150px;height:65px; right: 50px;">
</a>

<header>
    <nav  class="navbar navbar-expand-lg navbar-light"  style="background-color: rgb(133, 194,32);">
      
      <a  class="navbar-brand" target="_blank" href="http://healthclarity.wolterskluwer.com/health-solutions/lifelong-learning-education.html.html" font color ="white" >EduPortal</a>
    
      
      
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/home"  >Home</a>
            </li>
           
             
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/login" >Login</a>
              </li>
              <div ng-show='isLoggedIn'>
              <li class="nav-item">
                  <a class="nav-link"(click)="logout()" *ngIf="isLoggedIn">Logout</a>
                  </li>
                </div>
          </ul>
         
      </div>
      
      
      </nav>
    </header>
  </div>
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
    <div id="footer" style="text-align:center">
        <div class='copyright'>Copyright ©2019 EduPortal Ind,Inc. All rights reserved</div>
    
        <div class="social-icons">
      
      
            <a href="https://twitter.com/Wolters_Kluwer">
            <img src="assets/images/twitter.png" alt="twitter logo" width="30" height="30" class=logo></a>
       
            <a href="http://www.facebook.com/wolterskluwer">
            <img src="assets/images/fb.jpg" alt="fb logo" width="30" height="30" class=logo1></a>
       
         </div>
    </div>
</footer>
